{{ 'component-promo-sections.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="promo-sections promo-sections--{{ section.settings.content_layout }} isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == 'background-1' and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding">
  <div>
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'image' -%}
          <div class="page-width promo-sections__media-item promo-sections__media-item--{{ block.settings.desktop_image_width }} promo-sections__media-item--{{ block.settings.desktop_content_alignment }}{% if block.settings.desktop_content_alignment == 'center' %} promo-sections-center{% elsif block.settings.desktop_content_position == 'right' %} promo-sections-right{% endif %}">
            <div class="promo-sections__media promo-sections__media--{{ block.settings.height }} gradient color-{{ block.settings.color_scheme }} {% if block.settings.image != blank %}media{% else %}promo-sections__media--placeholder placeholder{% endif %}"
              {% if block.settings.height == 'adapt' and block.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
            >
              {%- if block.settings.image != blank -%}
                <img
                  srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                    {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                    {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
                    {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                    {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                  src="{{ block.settings.image | img_url: '1500x' }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(100vw)"
                  alt="{{ block.settings.image.alt | escape }}"
                  loading="lazy"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                >
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
          </div>
          {% if block.settings.banner_text %}
          <div class="promo-sections__banner-text promo-sections__color-{{ block.settings.banner_color }}">
            <h1>
              {{ block.settings.banner_text }}
            </h1>
          </div>
          {% endif %}
          {% if block.settings.bullet_text %}
          <div class="promo-sections__bullet-text">
            <ul>
              {%- assign spl = block.settings.bullet_text | newline_to_br | split: "<br />" -%}
              {%- for text in spl -%}
              <li class="bullet-item">{{ text }}</li>
              {%- endfor -%}
            </ul>
          </div>
          {% endif %}
        {%- when 'caption' -%}
          <p class="promo-sections__text promo-sections__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}" {{ block.shopify_attributes }}>{{ block.settings.caption | escape }}</p>
        {%- when 'text' -%}
          <div class="promo-sections__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
        {%- when 'button' -%}
          {%- if block.settings.button_label != blank -%}
            <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
              {{ block.settings.button_label | escape }}
            </a>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.promo-sections.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.promo-sections.blocks.image.name",
      "limit": 10,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.promo-sections.settings.image.label"
        },
        {
          "type": "select",
          "id": "height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.promo-sections.settings.height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.promo-sections.settings.height.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.promo-sections.settings.height.options__3.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.promo-sections.settings.height.label"
        },
        {
          "type": "select",
          "id": "desktop_image_width",
          "options": [
            {
              "value": "small",
              "label": "t:sections.promo-sections.settings.desktop_image_width.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.promo-sections.settings.desktop_image_width.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.promo-sections.settings.desktop_image_width.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.promo-sections.settings.desktop_image_width.label",
          "info": "t:sections.promo-sections.settings.desktop_image_width.info"
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.promo-sections.settings.desktop_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.promo-sections.settings.desktop_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.promo-sections.settings.desktop_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.promo-sections.settings.desktop_content_alignment.label"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "text",
          "id": "banner_text",
          "default": "<span>Hair Envy</span> is a custom formulated blend of <span>15 natural plant oils</span> proven to help:",
          "label": "t:sections.promo-sections.settings.banner_text.label",
          "info": "t:sections.promo-sections.settings.banner_text.info"
        },
        {
          "type": "select",
          "id": "banner_color",
          "options": [
            {
              "value": "yellow",
              "label": "Yellow"
            },
            {
              "value": "blue",
              "label": "Blue"
            }
          ],
          "default": "yellow",
          "label": "t:sections.promo-sections.settings.banner_background_color.label"
        },
        {
          "type": "textarea",
          "id": "bullet_text",
          "default": "Bullet 1",
          "label": "t:sections.promo-sections.settings.bullet_text.label",
          "info": "t:sections.promo-sections.settings.bullet_text.info"
        },
        {
          "type": "header",
          "content": "Mobile layout"
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.promo-sections.settings.mobile_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.promo-sections.settings.mobile_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.promo-sections.settings.mobile_content_alignment.options__3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.promo-sections.settings.mobile_content_alignment.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.promo-sections.presets.name",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
